<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Desafio Black & White</title>
</head>
<body>
      <h1 id="title">Black & White</h1>
    <form action="/procesar" method="get">
        <label id="lblUrl" for="imageUrl">URL de la imagen:</label>
        <input type="text" id="imageUrl" name="imageUrl" required
            placeholder="https://example.com/image.jpg">
        <button id=btn type="submit">Procesar</button>
    </form>
</body>
</html>